<a id="logo" href="{{ .Site.BaseURL }}">
<svg id="grav-logo" xmlns="http://www.w3.org/2000/svg" style="width:100%; height:100%;" viewBox="0 0 121.58 26">
  <defs>
    <style>
      .a {
        fill: none;
        stroke: white;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 2px;
      }

      .b {
        font-size: 18px;
        font-family: BerlinSansFB-Reg, Berlin Sans FB;
        fill: white;
      }
    </style>
  </defs>
  <circle class="a" cx="13" cy="13" r="12" /><text class="b" transform="translate(29.75 18.75)">NWP-OPER</text>
  <line class="a" x1="4" y1="20.11" x2="7" y2="14.11" />
  <line class="a" x1="12" y1="18.11" x2="7" y2="14.11" />
  <line class="a" x1="17" y1="13.11" x2="12" y2="18.11" />
  <line class="a" x1="23" y1="19.11" x2="17" y2="13.11" />
</svg>
</a>